*{
margin:0px;
padding:0px
}
img{
border:0px;
}
html{
width:100%;
height:100%;
}
body{
min-width: 412px;  
width:985px;
margin:0 auto;
font-family:Tahoma;
font-size:11px;
color:#565656;
position:relative;

}
#header{
padding:17px 0 0 47px;
}
#menu{
float:left;
width:985px;
list-style-type:none;
padding:0px;
margin:12px 0 12px -47px;
/ margin:-5px 0 6px -23px;
}
#menu li, #menu img{
float:left;
padding:9px;
display: block;
}
#container {
padding-left: 172px; 
padding-right: 238px;
height:100%
}
#container .column {
position: relative;
float: left;
}
#center{
width: 100%;
position:relative;
/ border-left:1px solid white
}
.banner{
margin:0 2px 0 1px;
float:left
}
#content{
padding:18px 12px 50px 21px;
float:left
}
#content p{
padding:3px 0 0 5px;
margin:0px;
}
.pad25{
padding-top:25px;
}
.stuff{
margin:25px 0 0 0;
float:left;
}
.item{
width:270px;
float:left;
margin:0 0 15px 0
}
.item img{
float:left;
}
.name{
font-family:Tahoma;
font-size:12px;
color:#4A4A4A;
text-decoration:underline;
font-weight:bold;
margin:15px 0 0 5px;
float:left;
}
.item span{
color:#E27C0E;
font-weight:bold;
font-size:12px;
display:block;
width:140px;
float:left;
padding:7px 0 12px 5px
}
.name:visited, .reg:visited, .more:visited{text-decoration:underline}
.name:hover, .reg:hover, .more:hover{text-decoration:none}
#left {
width: 172px;
right: 172px;   
margin-left: -100%;
/ left: 238px;
}
.block{
width:168px;
border:1px solid #C5C5C5;
padding:1px 1px 14px 1px;
margin-bottom:4px;
}



#menu-bar {
  width: 95%;
  margin: 0px 0px 5px 0px;
  padding: 4px 0px 0px 0px;
  height: 33px;
  line-height: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  box-shadow: 0px 2px 3px #666666;
  -webkit-box-shadow: 0px 2px 3px #666666;
  -moz-box-shadow: 0px 2px 3px #666666;
  background: #8B8B8B;
  background: linear-gradient(top,  #292929,  #7A7A7A);
  background: -ms-linear-gradient(top,  #292929,  #7A7A7A);
  background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#7A7A7A));
  background: -moz-linear-gradient(top,  #292929,  #7A7A7A);
  border: solid 0px #6D6D6D;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 0px 6px;
  padding: 0px 0px 6px 0px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 14px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #0399D4;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 0px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #BDC0D4 !important;
  background: linear-gradient(top,  #ABABAB,  #8A8A8A) !important;
  background: -ms-linear-gradient(top,  #ABABAB,  #8A8A8A) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#ABABAB), to(#8A8A8A)) !important;
  background: -moz-linear-gradient(top,  #ABABAB,  #8A8A8A) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0px 0px 0px #FFFFFF;
}
#menu-bar ul {
  background: #8D7ADD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 25px;
  left: 0;
  border: solid 3px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:13px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}




#navigation{
width:168px;
margin:0px;
padding:0px;
}
#navigation li{
list-style-type:none;
line-height:17px;
padding:0 0 0 13px;
}
#navigation a{
color:#565656;
text-decoration:none
}
.color{ 
	background-color:#EBEBEB;
	font-size: 1.4em;
	}
.color2{ 
	background-color:#CCC;
	font-size: 1.4em;
	color: #FF0000;
	}
#right {
width: 238px;   
margin-right: -238px;
}
.rightblock{
padding:0 0 0 14px
}
.blocks{
width:218px;
background-image:url(images/bg.gif);
background-position:top left;
background-repeat:repeat-y;
margin:0 0 2px 0
}
.line{
display:block;
float:left;
line-height:19px;
padding:5px 0 0 0;
margin:0px;
}
.blocks span{
font-size:11px;
font-weight:bold;
display:block;
float:left;
width:68px;
text-align:right;
padding:0 7px 0 0 
}
.blocks input{
width:130px;
height:15px;
float:left;
border-top:2px inset #808080;
border-left:2px inset #808080;
border-right:1px solid #CDCDCD;
border-bottom:1px solid #CDCDCD
}
#news{
padding:0 5px 25px 13px;
float:left;
}
#right .date{
display:block;
width:100px;
line-height:19px;
margin:11px 0 12px 0;
text-align:center;
font-family:Arial;
font-size:12px;
font-weight:normal;
color:#272727;
background-image:url(images/date.gif);
background-position:top left;
background-repeat:no-repeat;
}
#news p{
display:block;
float:left;
width:195px;
}
.more{
display:block;
float:left;
color:#0283DD;
text-decoration:underline;
margin:15px 0 0 0
}
.reg{
color:#0283DD;
text-decoration:underline;
margin:0 11px;
}
.center{
width:218px;
text-align:center
}
.pad20 img{
margin-top:15px;
}
#footer {
clear: both;
border-top:3px solid #B7C1C4;
padding:8px 0 17px 0;
text-align:center;
color:#323232
}
#footer a{
color:#323232;
text-decoration:none;
margin:0 3px;
}
#footer .terms{
color:#0283DD
}
#footer p{
padding:10px 0 0 0
}
#footer #bft{
color:#8E190B;
text-decoration:underline;
margin:0px
}
#footer #bft:visited{text-decoration:underline}
#footer #bft:hover{text-decoration:none}
.float{
float:left;
margin-right:164px;
}
.topblock1{
background-image:url(images/block1bg.gif);
background-position:top left;
background-repeat:no-repeat;
width:159px;
height:46px;
padding:15px 1px 0 30px;
float:left;
font-family:Tahoma;
font-size:11xp;
color:#5B5B5B;
font-weight:bold
}
.topblock1 select{
width:128px;
height:17px;
margin:1px 0;
border:2px inset #CDCDCD;
font-size:11px
}
.topblock2 a{
border:1px solid #C0D6DE;
margin:5px 4px 0 0;
float:left
}
.topblock2{
background-image:url(images/block2bg.gif);
background-position:top left;
background-repeat:no-repeat;
width:179px;
height:46px;
padding:15px 1px 0 24px;
float:left;
font-family:Tahoma;
font-size:11xp;
color:#5B5B5B;
font-weight:bold
}
.shopping{
float:left;
padding:3px 12px 0 0
}
.topblock2 p{
line-height:15px;
}
.topblock2 span{
font-weight:normal;
}
.topblock2 strong{color:#3288A2}
#about{
width:517px;
padding:0 0 0 5px;
float:left;
margin:-10px 0 0 0;
}
.tree{
width:100%;
height:20px;
border-bottom:1px solid #BABABA;
padding:0 0 3px 0;
}
.tree a{
color:#4A4A4A;
text-decoration:underline
}
.tree a:visited{text-decoration:underline}
.tree a:hover{text-decoration:none}
.photos{
width:227px;
float:left;
padding:25px 17px 0 0
}
.moreph{
display:block;
background-image:url(images/morebg.gif);
background-position:top left;
background-repeat:no-repeat;
width:92px;
line-height:17px;
color:#FFF;
text-decoration:none;
padding:0 0 0 14px;
margin:0 0 20px 18px
}
.comments{
background-image:url(images/bulb.jpg);
background-position:top left;
background-repeat:no-repeat;
padding:0 0 5px 29px;
margin:0 0 0 18px;
color:#0283DD;
line-height:25px;
text-decoration:underline
}
.comments:visited{text-decoration:underline}
.comments:hover{text-decoration:none}
.description{
width:253px;
float:left;
padding:25px 0 0 17px;
position:relative
}
#about .description p{
padding:0 0 15px 0;
}
.description u{
font-size:12px;
color:#4A4A4A;
font-weight:bold
}
.price{
position:absolute;
top:28px;
right:0px;
color:#E27C0E;
font-size:12px;
font-weight:bold
}
#features li{
list-style-type:none;
line-height:17px;
padding:0 0 0 7px;
width:180px;
}
#features span{
width:150px;
display:block;
float:left;
}
#about button{
background-image:url(images/add.gif);
background-position:top left;
background-repeat:no-repeat;
border:0px;
float:left;
font-weight:bold;
width:104px;
font-family:Tahoma;
font-size:11px;
color:#5B5B5B;
margin:21px 3px 0 0;
padding:4px 0 6px 0 
}
.carts{
padding:21px 0 0 0;
float:left
}
.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}