    
    h2{
        font-weight: bolder;
    }
    .email_body{
        background-color: #e4eac6;
        color: #000000;
        text-outline: 2px white;
        font-size: large;
        width: 650px;
        padding: 10px;
        
    }
    
    .email_p{
        background-color: rgba(100, 100, 117, 0.3);
        border-radius: 10px;
        
        font-weight: bold;
    }
    
    .btn{
        border-radius: 4px;
        background-color: #596ae3;
        color: #FFF;
        border: 1px solid black;
        padding: 5px;
    }
    .btn a{
        text-decoration: none;
        size: 90%;
    }
    
    img{
        width:98%;
        text-align: center;
    }
